* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    padding: 20px;
    margin-top: 5rem;
}

.fa-cart-shopping {
    margin-right: 5px;
}

.left-section img {
    width: 100%;
    max-height: 500px;
    border-radius: 10px 0 0 10px;
}

.right-section {
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    max-height: 500px;
    background-color: hsl(30, 38%, 92%);
    border-radius: 0 10px 10px 0;
}

.pre-text {
    font-size: 20px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(228, 12%, 48%);
}

.title {
    margin-bottom: 2rem;
    color: hsl(212, 21%, 14%);
    font-size: 35px;
}

.text {
    font-size: 20px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 2rem;
}

.price {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 2rem;
}

.price .sale-price {
    font-size: 30px;
    font-weight: 800;
    color: hsl(158, 36%, 37%);
}

.price .pre-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.attribution {
    font-size: 20px;
    text-align: center;
}

.attribution a  {
    color: hsl(228, 45%, 44%);
}
    

@media screen and (max-width: 1040px) {
    .grid {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin-top: 1rem;
    }

    .left-section img{
        width: 100%;
        max-height: 350px;
        border-radius: 10px 10px 0 0;
    }

    .right-section {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding-top: 1rem;
        padding-left: 2.5rem;
        padding-right: 2rem;
        max-height: 500px;
        background-color: hsl(30, 38%, 92%);
        border-radius: 0 0 10px 10px;
    }

    .btn button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-left: 2.5rem;
    }
}
